<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsimples.mutti.interusp_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/interusp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.appsimples.mutti.interusp_android.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appsimples.mutti.interusp_android.SelecionarAtletica"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.PontuacaoFaculdade"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Mais.Historico"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Vencedores"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Mais.Torcidometro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.TabsMain"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Atualizar.AtualizarLogin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.ListaLocais"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Mais.Gritos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.PontuacaoModalidade"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.PontuacaoGeral"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.DetalheInformacao"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Atualizar.AtualizarMenu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Atualizar.AtualizarJogos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Atualizar.AtualizarProvas"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Mais.InterUspInfo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.ChaveamentoModalidade"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Atualizar.AtualizarModalidade"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Atualizar.AtualizarOnibus"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.GritosAtletica"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.DetalheOnibus"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Sobre"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Atualizar.AtualizarSelecionarJogo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appsimples.mutti.interusp_android.Atualizar.AtualizarLocal"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.appsimples.mutti.interusp_android.Atualizar.AtualizarListaEdicao"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>